<!--Main layout-->
<main class="mt-5 pt-5">
  <div class="container">
    <h3 class="h3 text-center mb-5">Map</h3>
    <!--Section: Cards-->
    <section class="text-center">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-12 mb-4" style="height: 600px;">
          <!--Map-->
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, laudantium inventore modi ab natus ea soluta
          nihil aspernatur assumenda commodi itaque temporibus dolorem provident voluptatum molestias repellendus neque
          optio repudiandae?
          <mgl-map
            [style]="'mapbox://styles/mapbox/streets-v11'"
            [zoom]="[5]"
            [center]="[21.7587, -4.0383]"
          >
            <mgl-marker
              [lngLat]="[	15.807045, -4.222447]"
              #myMarker
            >
              <img src="/assets/img/mapbox-icon.png" width="50px" class="marker" alt="Marker"/>
            </mgl-marker>
            <mgl-popup
              [marker]="myMarker"
            >
              <div>
                <div>Pays : {{drcDatas.Country}}</div>
                <div>Cas confirmé : {{drcDatas.Cases}}</div>
                <small>source: John Hopkins University. API from <a href="http://ksred.me" target="_blank">@ksred</a></small>
              </div>
            </mgl-popup>
          </mgl-map>

          <!--Maps-->
        </div>
        <!--Grid column-->
        <br>
      </div>
      <!--Grid row-->

    </section>
    <!--Section: Cards-->
  </div>
</main>
